<div class="widget-wrap widget-list">
    <h3 class="widget-title"><%= __('sidebar.wechat') %></h3>
    <div class="widget">
        <img src="/css/images/wechat.jpg" attr="wechat">
    </div>
</div>
